* {
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
	right: 0;
}

body {
	padding-top: 6.6em;
	background-color: #f2f3f4;
	overflow-x: hidden;
}

.nav-bar {
	position: relative;
	z-index: 100;
	padding: 0.8em;
	height: 4em;
	display: flex;
	justify-content: space-around;
	background-color: ivory;
	position: fixed;
	outline: inset;
}

.nav-logo {
	object-fit: contain;
}

.nav-links {
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav-link {
	padding: 0.1em 0.8em 0.1em 0.8em;
	color: black;
	text-decoration: none;
	font-size: 1.5em;
	font-family: "Open Sans";
}

.nav-link:hover {
	outline: none;
    border-color: gray;
    box-shadow: 0 0 2em gray;
    border-radius: 1em;
}

@media screen and (max-width: 760px) {
	.nav-links {
		display: none;
	}
}

.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 2em;
}

.selector {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 2em;
}

select {
	margin-right: 1em;
	margin-left: 0.3em;
}

.person-intro {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1em;
	font-size: 1.2em;
}

.person-quote {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1em;
	font-style: italic;
	font-size: 1.8em;
}

.vertical-line {
	background-color: gray;
	align-self: stretch;
	width: 0.3em;
	margin-right: 1em;
	
}

.person-text {
	font-size: 1em;
	font-family: "Open Sans";
	padding: 0.5em 1.5em 0.5em 1.5em;
}

footer {
	position: relative;
	z-index: 101;
	margin-top: 1em;
}


.main-article {
	font-size: 1em;
	font-family: "Open Sans";
	padding: 0.5em 1.5em 0.5em 1.5em;
}


.footer-div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: ivory;
	align-items: center;
	outline: inset;
}

.footer-article {
	font-size: 1.2em;
	font-family: "Open Sans";
	line-height: 4;
}
