<section class="main" >
	 			<h1 class="main-heading">Myers-Briggs Type Indicator Tour</h1>
	 			<div id="lavender" class="main-box">
	 				<p class="main-article">The preferences for extraversion and introversion are often called "attitudes". <br />Briggs and Myers recognized that each of the cognitive functions can operate in <br />the external world of behavior, action, people, and things ("extraverted attitude") <br />or the internal world of ideas and reflection ("introverted attitude"). <br />The MBTI assessment sorts for an overall preference for one or the other.</p>
	 				<p class="main-intro">E & I</p>
	 			</div>
	 			<div id="light-green" class="main-box">
	 				<p class="main-intro">S & N</p>
	 				<p class="main-article">Sensing and intuition are the information-gathering (perceiving) <br />functions. They describe how new information is understood and interpreted. People who <br />prefer sensing are more likely to trust information that is in the present, tangible, <br />and concrete: that is, information that can be understood by the five senses. On <br />the other hand, those who prefer intuition tend to trust information that is <br />less dependent upon the senses, that can be associated with other <br />information (either remembered or discovered by seeking a <br />wider context or pattern).</p>
	 			</div>
	 			<div id="light-blue" class="main-box">
	 				<p class="main-article">Thinking and feeling are the decision-making (judging) functions. <br />The thinking and feeling functions are both used to make rational decisions, <br />based on the data received from their information-gathering functions (sensing <br />or intuition). Those who prefer thinking tend to decide things from a more detached <br />standpoint, measuring the decision by what seems reasonable, logical, causal, <br />consistent, and matching a given set of rules. Those who prefer feeling tend to <br />come to decisions by associating or empathizing with the situation, looking at it <br />'from the inside' and weighing the situation to achieve, on balance, the greatest <br />harmony, consensus and fit, considering the needs of the people involved.</p>
	 				<p class="main-intro">T & F</p>
	 			</div>
	 			<div id="light-yellow" class="main-box">
	 				<p class="main-intro">J & P</p>
	 				<p class="main-article">Myers and Briggs held that types with a preference for judging show <br />the world their preferred judging function (thinking or feeling). According to Myers, <br />judging types like to "have matters settled". Those types who prefer perception <br />show the world their preferred perceiving function (sensing or intuition). According <br />to Myers, perceptive types prefer to "keep decisions open".</p>
	 			</div>
</section>
