<FilesMatch "forbidden.html">
	Require all denied
</FilesMatch>

ErrorDocument 404 /noexist.html

<Files "custom_404.html">
	<If "-z %{ENV:REDIRECT_STATUS}">
		RedirectMatch 404 ^/custom_404.html$
	</If>
</Files>
