* {
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
	right: 0;
}

body {
	background-color: #f2f3f4;
	overflow-x: hidden;
}

.box {
	display: flex;
	flex-flow: column;
	height: 100vh; 
}

.nav-bar {
	position: relative;
	z-index: 100;
	padding: 0.8em;
	height: 4em;
	display: flex;
	justify-content: space-around;
	background-color: ivory;
	position: fixed;
	outline: gray solid;
}

.nav-logo {
	object-fit: contain;
}

.nav-links {
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav-link {
	padding: 0.1em 0.8em 0.1em 0.8em;
	color: black;
	text-decoration: none;
	font-size: 1.5em;
	font-family: "Open Sans";
}

.nav-link input[type=submit] {
	border: none;
	background-color: ivory;
	font-size: 1em;
	font-family: "Open Sans";
}

.nav-link:hover {
	outline: none;
    border-color: gray;
    box-shadow: 0 0 2em gray;
    border-radius: 1em;
}

@media screen and (max-width: 760px) {
	.nav-links {
		display: none;
	}
}


.form-div {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color:
}

.form-sign {
	outline: gray solid;
	padding: 4em;
	background-color: ivory;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 1em;
	font-family: "Open Sans";
}

.password-block {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 1.2em;
}

#unique {
	width: 3em;
	margin-bottom: 0em;
}

input {
	margin-bottom: 1.2em;
	width: 30em;
	height: 2.2em;
}

footer {
	position: relative;
	z-index: 101;
	margin-top: 1em;
}


.main-article {
	font-size: 1em;
	font-family: "Open Sans";
	padding: 0.5em 1.5em 0.5em 1.5em;
}


.footer-div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: ivory;
	align-items: center;
	outline: gray solid;
}

.footer-article {
	font-size: 1.2em;
	font-family: "Open Sans";
	line-height: 4;
}
